
NET "clk16"          LOC =  "S:PIN43";
NET "clk50"          LOC =  "S:PIN1";
NET "reset_n"        LOC =  "S:PIN33";
NET "dtack_n"        LOC =  "S:PIN2";
NET "rw"             LOC =  "S:PIN3";
NET "oe_n"           LOC =  "S:PIN5";
NET "as_n"           LOC =  "S:PIN6";
NET "lds_n"          LOC =  "S:PIN7";
NET "uds_n"          LOC =  "S:PIN8";
NET "berr_n"         LOC =  "S:PIN12";
NET "ram_ce_n"       LOC =  "S:PIN13";
NET "eeprom_lds_n"   LOC =  "S:PIN14";
NET "eeprom_uds_n"   LOC =  "S:PIN16";
NET "clk_from_cpld"  LOC =  "S:PIN18";
NET "boot"           LOC =  "S:PIN19";
NET "dtack_trig"     LOC =  "S:PIN20";
NET "addr<13>"       LOC =  "S:PIN21";
NET "addr<14>"       LOC =  "S:PIN22";
NET "addr<15>"       LOC =  "S:PIN23";
NET "addr<16>"       LOC =  "S:PIN27";
NET "addr<17>"       LOC =  "S:PIN28";
NET "addr<18>"       LOC =  "S:PIN29";
NET "addr<19>"       LOC =  "S:PIN30";
NET "addr<20>"       LOC =  "S:PIN31";
NET "addr<21>"       LOC =  "S:PIN32";
NET "addr<22>"       LOC =  "S:PIN37";
NET "addr<23>"       LOC =  "S:PIN38";
NET "cs<0>"          LOC =  "S:PIN39";
NET "cs<1>"          LOC =  "S:PIN40";
NET "cs<3>"          LOC =  "S:PIN41";
NET "cs<2>"          LOC =  "S:PIN42";
